<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../assets/css/banner.css">
</head>
<body>
  <div class="banner">
    <div class="banner-content">
      <h1 id="banner-title">ABOUT US</h1>
      <p id="banner-subtitle">Know more about our company </p>
      <a href="#" class="button" id="banner-button">Learn More</a>
    </div>
  </div>
</body>
</html>