<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACT PAGE</title>
    <link rel="stylesheet" href="../assets/css/contact.css">
</head>
<body>
      
        <div class="container">
            <h2>Nous contacter</h2>
            <div class="core">
                <label for="">Nom</label><br>
                <input type="text" name="" id="" placeholder="Entre votre nom"><br><br>

                <label for="">Email</label><br>
                <input type="text" name="" id="" placeholder="Entre votre Email"><br><br>

                <label for="">Object</label><br>
                <input type="text" name="" id="" placeholder="Cest a quel sujet"><br><br>

                <label for="">Message</label><br>
                <input type="text" name="" id="" placeholder="" class="message"><br><br>

                <input type="submit" value="Envoyez" class="submit">
            </div>
        </div>
        <div class="git"></div>
     
</body>
</html>