<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/footer.css">

</head>
<body>
    <footer class="footer">
        <div class="footer-top">

            <div class="contact-info">
                <img src="phone-call.png" alt="call" class="icons">
                <p>Call Us <br> (237)678501236 <br> (237)672745537</p>
            </div>

            <div class="mail-info">
                <img src="email.png" alt="email" class="icons">
                <p>Mail Us <br> info@fastandsuretravel.com</p>
            </div>

            <div class="social-info">
                <img src="arrow.png" alt="arrow" class="icons">
                <p>Follow Us</p>
                <a href="#"><img src="instagram.png" alt="instagram" class="social-icon"></a>
                <a href="#"><img src="facebook.png" alt="facebook" class="social-icon"></a>
                <a href="#"><img src="social.png" alt="social" class="social-icon"></a>
                <a href="#"><img src="social-media.png" alt="social-media" class="social-icon"></a>
            </div>
        </div>

            <div class="footer-middle">

                <div class="about">
                    <h2>About Us <br><br></h2> 
                        <h5><img src="logo.jpg" alt="call" class="social-icon">Fast And Sure Travel</h5>
                    <p>Fast and Sure Travel Sarl is your best option to guide you in your visa aquisation, fly ticket booking accross a wide range of countries. We also have fast drive a driving school to optimise your visa aquisation.</p>
                </div>

                <div class="service">
                    <h3>Services</h3>
                   <ul>
                    <li>Visa Assistance.</li>
                    <li>Fly Ticket Selling.</li>
                    <li>Driving School (fast drive).</li>
                    <li>Advices.</li>
                   </ul>
                </div>

                <div class="links">
                     <h3>Quick links</h3>
                   <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Service</a></li>
                    <li><a href="#">Support</a></li>
                   </ul>
                </div>

                <div class="contact">
                     <h3>Contacts</h3>
                     <p><img src="location.png" alt="call" class="social-icon"> Cameroon, Douala BP Cite and Carefour Agip Opposite Maison Du Cycle.</p>
                     <img src="phone-call.png" alt="call" class="social-icon">
                (237)678501236 <br> (237)672745537
                     </div>
            </div>

            <div class="footer-bottom">
                <p>Copyright©2025 fast and sure travel. All right reserve.</p>
                <img src="whatsapp.png" alt="whatsapp" class="social-icon">
            </div>

    </footer>
</body>
</html>