<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="..\assets\css\header.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header fast and sure</title>
</head>
<body>
    <div class="header">
        <img src="c:\Users\Forlan\Desktop\fast gi\fasttravel\fast and sure logo.jpg" >
      <h1>Fast and Sure Travel</h1>
       <nav>
        <a href="#" class="active">Home</a>
        <a href="#">About</a>
        <a href="#">Service</a>
        <a href="#">Support</a>
    </nav>
     <button class="Nav-button">Contact us</button>

    </div>
  </body>
</html>