<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANNER</title>
    <link rel="stylesheet" href="../assets/css/home-banner.css">
</head>

<body>

    <div class="slides">
        <div class="banner active">
            <div class="banner-content">
                <h1>WELCOME TO FAST AND SURE TRAVELL</h1>
                <p>We provide comprehensive visa services, ensuring you have the
                    necessary documentation for your travels. Our team guides you
                    through the application process, making it as smooth as possible. </p>
                <a href="#" class="button">Learn More</a>
            </div>
        </div>

        <div class="banner">
            <div class="banner-content">
                <h1>WELCOME TO FAST AND SURE TRAVELL</h1>
                <p>Book flights with ease using our platform. We offer competitive
                    prices and a user-friendly interface to help you find the best
                    options for your travel needs. </p>
                <a href="#" class="button">Learn More</a>
            </div>
        </div>

        <div class="banner">
            <div class="banner-content">
                <h1>WELCOME TO FAST AND SURE TRAVELL</h1>
                <p>We offer comprehensive driving lessons tailored to your needs.
                    Our experienced instructors provide personalized training to help
                    you become a confident and skilled driver. </p>
                <a href="#" class="button">Learn More</a>
            </div>
        </div>
    </div>



    <script src="../assets/js/banner.js"></script>
</body>

</html>