<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home-page</title>
    <link rel="stylesheet" href="../assets/css/home.css">
   
</head>

<body>
    
    <section>
        <h1>who are we</h1>
        <div class="history">
            <div class="image">
                <img src="../assets/visa.jpg" alt="image2">
            </div>

            <div class="text">
                <h4>our history</h4>
                <p>Founded in 2016, we began with a simple mission: to make tech
                    support smarter and more human. From troubleshooting scanners
                    to designing intuitive interfaces, we’ve grown into a platform
                    that blends functionality with elegance—serving users across
                    the globe with practical, beautiful solutions.`
                    <br><br>
                    Our journey has been marked by innovation and a commitment to
                    enhancing user experience. We’ve evolved from a small team
                    focused on basic tech support to a comprehensive platform
                    that empowers users with tools and resources to navigate the
                </p>
            </div>
        </div>

        <div class="mission">
            <div class="text">
                <h4>our mission</h4>
                <p>We simplify travel. From expert visa guidance to seamless flight
                    bookings, our mission is to help you move across borders with ease,
                    confidence, and peace of mind—every step of the journey.
                    <br><br>
                    We believe in making travel accessible, efficient, and enjoyable for
                    everyone. Our team is dedicated to providing personalized support,
                    ensuring that your travel experience is as smooth as possible.
                    Whether you’re a seasoned traveler or planning your first trip,
                    we’re here to assist you with all your travel needs.
                </p>
            </div>
            <div class="image">
                <img src="../assets/fiayo.d2a72fc4ab85a275270f.jpg" alt="image1">
            </div>
        </div>
    </section>

    <section class="our-services">
        <h1>our services</h1>
        <div class="services">
            <div class="service">
                <div class="image">
                    <img src="../assets/airplane.png" alt="image2">
                </div>
                <div class="text">
                    <h4>Visa Services</h4>
                    <p>We provide comprehensive visa services, ensuring you have the
                        necessary documentation for your travels. Our team guides you
                        through the application process, making it as smooth as possible.
                    </p>
                </div>
                <div class="button">
                    <button class="btn"><a href="">learn more</a></button>
                </div>
            </div>

            <div class="service">
                <div class="image">
                    <img src="../assets/boarding-pass.png" alt="image1">
                </div>
                <div class="text">
                    <h4>Flight Booking</h4>
                    <p>Book flights with ease using our platform. We offer competitive
                        prices and a user-friendly interface to help you find the best
                        options for your travel needs.
                    </p>
                </div>
                <div class="button">
                    <button class="btn"><a href="">learn more</a></button>
                </div>
               
            </div>
            <div class="service">
                <div class="image">
                    <img src="../assets/parked-car.png" alt="image2">
                </div>
                <div class="text">
                    <h4>driving school</h4>
                    <p>We offer comprehensive driving lessons tailored to your needs.
                        Our experienced instructors provide personalized training to help
                        you become a confident and skilled driver.
                    </p>
                </div>
                <div class="button">
                    <button class="btn"><a href="">learn more</a></button>
                </div>
            </div>
        </div>
    </section>
    
</body>

</html>