<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Services</title>
    <link rel="stylesheet" href="../assets/css/service.css">
</head>
<body>




    <div id="header"></div>
    <div id="banner"></div>
    <section class="services">




        <h2>OUR SERVICES</h2>
        <div class="service-container">

            <!-- Visa Assistance -->
            <div class="service-box">
                <!-- Airplane SVG -->
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="black" viewBox="0 0 24 24">
                    <path d="M21 16v-2l-8-5V3.5a1.5 1.5 0 0 0-3 0V9l-8 5v2l8-2.5V21l2 1 2-1v-7.5l8 2.5z"/>
                </svg>
                <h3>visa assistance</h3>
                <p>we support you all through your visa acquisition process for any country</p>
                <button>learn more</button>
            </div>

            <!-- Fly Ticket Booking -->
            <div class="service-box">
                <!-- Ticket SVG -->
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="black" viewBox="0 0 24 24">
                    <path d="M22 10V8a2 2 0 0 0-2-2h-2V4h-2v2H8V4H6v2H4a2 2 0 0 0-2 2v2h2v4H2v2a2 2 0 0 0 2 2h2v2h2v-2h8v2h2v-2h2a2 2 0 0 0 2-2v-2h-2v-4h2z"/>
                </svg>
                <h3>Fly ticket booking</h3>
                <p>Book national and international flight at best deals with our multiple partners</p>
                <button>learn more</button>
            </div>

            <!-- Driving School -->
            <div class="service-box">
                <!-- Car Parking SVG -->
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="black" viewBox="0 0 24 24">
                    <path d="M18 3H6a2 2 0 0 0-2 2v14h2v-2h12v2h2V5a2 2 0 0 0-2-2zm-4 10H8V7h6a2 2 0 0 1 0 4z"/>
                </svg>
                <h3>Driving school-<br>Fast drive</h3>
                <p>Learn to drive in all security , comfortably and support till completion</p>
                <button>learn more</button>
            </div>

        </div>
    </section>




    <div id="footer"></div>



    
</body>
</html>
