.banner {
    position: relative;
    width: 100%;
    height: 400px; 
    background: url('../airport.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: none;
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    
  }

  .active {
    display: block;
    opacity: 1;
    transform: translateX(0);
  }

 .banner:nth-last-child(1) {
    background: url('../driving-school.jpeg') center/cover no-repeat;
 } 

 .banner:nth-last-child(2) {
    background: url('../airport.jpg') center/cover no-repeat;
 } 

 .banner:nth-last-child(3) {
    background: url('../visa.jpg') center/cover no-repeat;
 } 

  
  .banner::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
    z-index: 1;
  }

  

  
  .banner-content {
    margin-left: 100px;
    align-items: center;
    text-align: center;
    width: 80%;
    position: relative;
    z-index: 2;
    left: 0%;
    top: 25%;
  }

  .banner h1 {
    font-size: 3rem;
    margin: 0;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  }

  .banner p {
    font-size: 1.2rem;
    margin: 10px 0;
    font-weight: 300;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    line-height: 1.5;
    line-break: normal;
  }

  
  .banner a.button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
  }

  .banner a.button:hover {
    background-color: #0056b3;
  }

  
  @media (max-width: 768px) {
    .banner h1 {
      font-size: 2rem;
    }
    .banner p {
      font-size: 1rem;
    }
  }
