*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Times New Roman';
}

html{
    font-size: 62.5%;
}

body{
    color:var(--white-color);
}

header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-content: center;
    z-index: 100;
}

.header {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    border-bottom: 2px solid #ccc; /* line under the whole header */
    padding-bottom: 0.5rem;        /* space between content and line */
}

.header img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

nav {
    display: flex;
    gap: 2rem; /* adjust value for desired spacing */
    margin-left: auto;
    padding-right: 20rem; /* adjust value for desired spacing from right end */
    /* remove border-bottom and padding-bottom from nav */
}

nav a{
    color: black;
    font-size: 1.8rem;
    font-weight: 800;
}
nav a:hover{
    color: blue;
}
button{
    padding: .5rem 4rem;
    background: blue;
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 2rem;
}