section {
    margin: 40px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9fbfd;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #007BFF;
    margin-bottom: 40px;
}

h4 {
    text-align: center;
    font-size: 2rem;
    color: #666;
}

h1,
h4 {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.history,
.mission {
    display: flex;
    justify-content: center;
    gap: 20px;


}

.history p,
.mission p {

    line-height: 1.6;
    color: #555;
    margin-bottom: 40px;
}

.mission {

    padding: 20px;
    border-radius: 10px;
}

.mission h2 {
    text-align: center;
    color: #007BFF;
}

.history {

    padding: 20px;
    border-radius: 10px;
}

img {
    width: 400px;
    height: 320px;
}

.history img,
.mission img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.our-services {
    background-color: #fafcfd;
}

.services {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

}

.services .service {
    position: relative;

    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 28%;
}

.service image {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.service .image img {
    width: 100px;
    height: 100px;
    border-radius: 10%;
}

.btn {
    border: none;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 10px;

}

.btn a {
    color: white;
    text-decoration: none;
}

.btn:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 768px) {
    .services .service {
        width: 100%;
        margin-bottom: 20px;
    }

    img {
        width: 100%;
        height: auto;
    }

    .history {
        flex-direction: column;
    }

    .mission {
        flex-direction: column-reverse;
    }

}